@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
   --primary-Desaturated-Red: hsl(0, 36%, 70%);
   --primary-Soft-Red: hsl(0, 93%, 68%);
   --neutral-Dark-Grayish-Red: hsl(0, 6%, 24%);

   /* gradients */
   --Linear-135-Gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
   --Linear-135-Gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}



html {
   box-sizing: border-box;
   font-size: 16px;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1rem;
   position: relative;
}

.grid__container {
   margin: auto auto;
}

header {
   margin: 8vw;
   animation: headerAnimation 1s;
}

header img {
   width: 50.16%;
   max-width: 158px;
   max-width: 105px;
}

.hero__container {
   width: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

picture img {
   width: 100%;
   max-width: 375px;
   animation: hideMaster 2.1s,
      heroAnimation 1s 1.8s,
      fadeIn 1s;
}

main.content {
   position: relative;
   margin: 0 auto;
   padding: 60px 20px;
   text-align: center;
   background: var(--Linear-135-Gradient1);
   background-size: cover;
}


.content__text h1 {
   text-transform: uppercase;
   font-size: 2.7rem;
   letter-spacing: 10px;
   line-height: 1;
   color: var(--neutral-Dark-Grayish-Red);
   animation: hideMaster 1.1s,
      headerOneAnimation 2s 1s;
}

.content__text h1 span {
   color: var(--primary-Desaturated-Red);
   font-weight: 300;
}

.form {
   position: relative;
}

.form .promotional__paragraph {
   display: block;
   color: var(--primary-Desaturated-Red);
   line-height: 1.5;
   font-size: 0.9375rem;
   transform-origin: center;
   animation: hideMaster 3.1s,
      promotionalParagraphAnimation 1s 3s,
      fadeIn 1s 3s;
   margin-bottom: 38px;
}

.form .input__container {
   position: relative;
   display: grid;
   grid-template-columns: 1fr 40px 65px;
   justify-items: center;
   align-items: center;
}

.input__container .email {
   position: relative;
   outline: none;
   height: 3rem;
   width: 100%;
   margin: 0;
   padding: 0px 100px 0 23px;
   border: 1px solid var(--primary-Desaturated-Red);
   border-radius: 50px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 15px;
   grid-column: 1/4;
   grid-row: 1/2;
   background: var(--Linear-135-Gradient1);
   transition: .5s border;
   animation: hideMaster 4.1s,
      inputEmailAnimation 1s 4s;
}

.input__container .email__error--show {
   border: 2px solid var(--primary-Soft-Red);
   transition: .5s border;
}

.form .email::placeholder {
   color: var(--primary-Desaturated-Red);
   font-weight: 300;
}

.form button {
   padding: 13.5px 25px;
   outline: none;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border: none;
   border-radius: 50px;
   background-color: transparent;
   background: linear-gradient(to left, hsl(0, 74%, 74%), hsl(0, 80%, 86%));
   background-position: top right;
   background-size: 200% auto;
   grid-column: 3/4;
   grid-row: 1/2;
   z-index: 1;
   cursor: pointer;
   box-shadow: 0px 5px 20px -1px rgb(0 0 0 / 15%);
   transition: background 1s;
   animation: hideMaster 5.1s,
      buttonAnimation 2s 5s;
}

.form button:hover {
   background-position: top left;
}

.form button:hover img {
   transform: rotate(720deg);
}

.form button img {
   transition: .5s transform;
}

.form button:active {
   transform: scale(1.1);
}

.form .error__icon {
   grid-column: 2/3;
   grid-row: 1/2;
   z-index: 1;
}

.form span {
   position: relative;
   text-align: left;
   width: 100%;
   display: block;
   padding: 10px 23px;
   font-size: 0.875rem;
   color: var(--primary-Soft-Red);
   grid-column: 1/4;
   grid-row: 2/3;
}

.input__error--hide {
   opacity: 0;
}

.input__error--transition {
   transition: opacity .5s;
}


.overflow--hidden {
   overflow: hidden;
}


footer {
   font-size: 11px;
   text-align: center;
   color: var(--primary-Desaturated-Red);
   letter-spacing: 1px;
   animation: footerAnimation 5.9s;
   transition: 1s transform;
   background-color: black;
   padding: 1rem;
   position: relative;
}

footer a {
   color: var(--primary-Soft-Red);
   font-weight: 600;
   text-decoration: none;
}

footer a:hover {
   color: var(--neutral-Dark-Grayish-Red);
}

/* animations  */
@keyframes headerAnimation {
   0% {
      transform: translateX(-200px);
   }
}

@keyframes heroAnimation {
   0% {
      transform: translateY(-500px);
   }
}

@keyframes headerOneAnimation {
   0% {
      transform: translateY(-270px)scale(0);
   }

   50% {
      transform: translateY(-270px);
   }
}

@keyframes inputEmailAnimation {
   0% {
      transform: scale(0);
   }
}

@keyframes buttonAnimation {
   0% {
      transform: translateX(-273px);
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
}

@keyframes hideMaster {
   0% {
      opacity: 0;
   }

   99% {
      opacity: 0;
   }
}

@keyframes promotionalParagraphAnimation {
   0% {
      transform: translateX(500px);
   }
}

@keyframes footerAnimation {
   0% {
      /* transform: translateY(-790px); */
   }
}

/* media queries  */

@media screen and (max-width: 280px) {
   main.content {
      padding: 60px 2vw;
   }
}

@media screen and (width:375px) {
   .hero__container picture {
      max-height: 235px;
   }
}

@media screen and (min-width: 375px) {
   /* body {
      height: 100vh;
   } */
}

@media screen and (min-width: 500px) {
   header {
      margin: 5vw;
   }

   .content__text h1 {
      line-height: 1.1;
      max-width: 20rem;
      margin-left: auto;
      margin-right: auto;
   }

   .content__text h1 span {
      display: block;
   }

   .form .promotional__paragraph {
      max-width: 325px;
      margin: 0 auto 38px auto
   }

   .form .input__container {
      max-width: 22rem;
      margin: 0 auto;
      grid-template-columns: 1fr 40px 95px;
   }

   .input__container .email {
      width: 99%;
      padding: 0px 125px 0 23px;
   }

   .input__container button {
      padding: 14.5px 40px;
   }
}

@media screen and (min-width: 750px) {
   body {
      background-image: url(../images/bg-pattern-desktop.svg), var(--Linear-135-Gradient1);
   }

   .grid__container {
      display: grid;
      grid-template-areas: "header photo"
         "main photo";
      grid-template-columns: 1fr .9fr;
      height: 100vh;
      margin-left: 5vw;
   }

   header {
      grid-area: header;
      margin: 0;
      align-self: center;
   }

   header img {
      max-width: 7.438rem;
   }

   .hero__container {
      grid-area: photo;
   }

   picture img {
      max-width: unset;
      height: 100%;
      animation: hideMaster 2.1s,
         heroAnimation 1s 1.8s,
         fadeIn 1s;
   }

   main.content {
      background: none;
      grid-area: main;
      margin: 0 auto 0 0;
      padding: 0;
      text-align: left;
   }

   .content__text h1 {
      font-size: 3rem;
      margin: 40px auto;
      animation: hideMaster 1.1s,
         headerOneAnimation 2s 1s;
   }

   .form .promotional__paragraph {
      font-size: 1rem;
      margin: 0 auto 47px auto;
      animation: hideMaster 3.1s,
         promotionalParagraphAnimation 1s 3s,
         fadeIn 1s 3s;
   }

   .input__container .email {
      font-size: 1rem;
   }

   .input__container button {
      animation: hideMaster 5.1s,
         buttonAnimation 2s 5s;
   }

   @keyframes headerOneAnimation {
      0% {
         transform: translateX(33vw) translateY(5vw) scale(0);
      }

      50% {
         transform: translateX(33vw) translateY(5vw) scale(2);
      }
   }

   @keyframes heroAnimation {
      0% {
         transform: translateX(500px);
      }
   }

   @keyframes promotionalParagraphAnimation {
      0% {
         transform: translateX(-500px);
      }
   }

   @keyframes buttonAnimation {
      0% {
         transform: translateX(-335px);
         opacity: 0;
      }

      20% {
         opacity: 0;
      }

      30% {
         opacity: 1;
      }
   }

}

@media screen and (min-width: 850px) {
   .grid__container {
      margin-left: 10vw;
   }

}

@media screen and (min-width: 1000px) {

   .grid__container {
      margin-left: 10vw;
   }

   header img {
      max-width: 8.438rem;
   }

   .content__text h1 {
      margin-left: 0;
      font-size: 4rem;
      font-size: 3.5rem;
      letter-spacing: 1.2rem;
   }

   .form .promotional__paragraph {
      max-width: 435px;
   }

   .form .input__container {
      max-width: 27rem;
      margin: 0;
   }
}

@media screen and (min-width: 1100px) {
   .grid__container {
      margin-left: 10vw;
   }
}

@media screen and (min-width: 1300px) {
   .grid__container {
      margin-left: 12vw;
   }
}

@media screen and (min-width: 1440px) {
   picture img {
      width: 634px;
   }
}